.opt{
    background-color: blue;
    height : 30px;
}
.opt1{
    background-color: greenyellow;
    height : 30px;
}
.opt2{
    background-color: yellow;
    height : px;
}
.color1{
    background-color: darkorange;
    height: 30px;
}
.color2{
    background-color: palevioletred;
    height: 30px;
}
.box1{
    background-color: mediumorchid;
    height:80px;
}
.box2{
    background-color: rgb(234, 192, 6);
    height:80px;
}
.opt3{
    background-color: green;
    height:160px;
}
.opt4{
    background-color: blue;
    height: 80px;
}
.opt5{
    background-color: blue;
    height: 80px;
}
.opt6{
    background-color: blue;
    height: 80px;
}
.white{
    background-color: #fff;
    height: 60px;
}
.cls1{
    background-color: orange;
    height:150px;
}
.cls2{
    background-color: brown;
    h
}