<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="calsi.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src = "calsi.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class = "container" ng-app = "test" ng-controller = "t">
        <div>
            <div id = "box">
                <input type = "text" ng-model = "result" ng-keydown = "keyup($event)" ng-keydown = "keydown($event)"></input>
                <div>
                    {{display}}
                </div>
            </div>
            <div id = "box2">
                <div>
                    <button ng-click="clear()">AC</button>
                    <button ng-click="backspace()"><box-icon name='arrow-back'></box-icon></button>
                    <button ng-click="">+/-</button>
                    <button ng-click="append('/')">/</button>
                </div>
                <div>
                    <button ng-click="append('7')">7</button>
                    <button ng-click="append('8')">8</button>
                    <button ng-click="append('9')">9</button>
                    <button ng-click="append('*')">*</button>
                </div>
                <div>
                    <button ng-click="append('4')">4</button>
                    <button ng-click="append('5')">5</button>
                    <button ng-click="append('6')">6</button>
                    <button ng-click="append('-')">-</button>
                </div>
                <div>
                    <button ng-click="append('1')">1</button>
                    <button ng-click="append('2')">2</button>
                    <button ng-click="append('3')">3</button>
                    <button ng-click="append('+')">+</button>
                </div>
                <div>
                    <button ng-click="append('%')">%</button>
                    <button ng-click="append('0')">0</button>
                    <button ng-click="append('.')">.</button>
                    <button ng-click="answer(2+7)">=</button>
                </div>
            </div>          
        </div>
</body>
</html>