
html{
    background: #daede2;
}
body{
    background: #77c4d3;
    margin : 40px;
}

.extra1{
    background: rgba(51,55,69,0.9);
    width: 250px;
    position: fixed;
    top: 0px;
    right : 0px;
    bottom: 0px;
}
.sidebar{
    background: rgba(246,247,146,0.9);
    width: 200px;
    position: absolute;
    top: 0px;
    right : 0px;
    bottom: 0px;
    margin-top: 100px;
    margin-right: 50px; 
    z-index: 2;
}
.preamble{
    background: rgba(255,255,255,0.9);
    margin-left:-30px;
    margin-right:300px;
    height: 400px;
    line-height: 1.5em;
    padding: 30px;
}
.participation{
    background: rgba(234,46,73,0.9);
    position: absolute;
    top: 800px;
    right: 40px;
    z-index: 3;
    width: 15em;
}
.footer{
    background: rgba(246,247,146,0.9);
}
.benefits{
    width:200px;
    position: relative;
    background: rgba(255,255,255,0.9);
}
.requirements{
    width:500px;
    float: left;
    background: rgba(255,255,255,0.9);
}
section{
    padding: 30px;
}
.supporting{
    padding: 30px;
}
.supporting div{
    padding : 30px;
}
.explanation{
    width: 250px;
}






















