*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
html{
    padding: 0;
    margin: 0;
}
a{
    color: white;
    position: relative;
    font-size: 20px !important;
}

nav a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    bottom: 0px;
    left: 18px;
    transition: 1s;
}
.nav{
    display: flex;
    justify-content: space-between;
}
a:hover::after{
    width: 70%;
    text-align: center;
}
.nav .nav-link:hover {
    color: rgb(5, 248, 5); /* Change the link color to green on hover */
}
.section-bg nav{
    margin-top: 25px;
}
body {
    margin: 0;
    padding: 0;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 100px;
    color: #fff;
}
.section-bg{
    background-image: url("dark.avif");
    color: white;
    height:700px;
    background-size: cover; 
    background-repeat: no-repeat;
}
#name{
    margin: 150px;
}
.section-bg div h2{
    font-size: 60px;
    font-weight: 800;
}
.section-bg div h3{
    font-size: 30px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.block{
    background-color: rgb(35, 30, 30);
    height: auto;
    color:white;
}
.heading{
    font-size:60px;
    font-weight: 600;
}
.about{
    padding:50px;
}
.projects div div{
    background-color: gray;
    height: 200px;
}
form div{
    margin: 10px;
}
.contact .row{
    margin: 10px;
    font-size: 20px;
}
.right{
    margin-right: 20px;
}
.bottom{
    margin-bottom: 20px;
}
.copyright {
    width: 100%;
    text-align: center;
    font-weight: 300;
}
#name span{
    color:  rgb(0, 255, 0);
}
.about-me {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background:  rgb(255, 0, 0);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* .tab-links:hover::after{
width: 100%;
} */
.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul{
    padding: 0;
}
.tab-contents ul li span {
    color:  rgb(255, 0, 0);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
.container {
    padding: 10px 10%;
}
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 15px;
    line-height: 30 px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background:  rgb(0, 106, 255);
    transform: translateY(-10px);
}
.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 40px !important;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
    color:  rgb(0, 255, 0);
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block
}

.btn.btn3 {
    background: #080808;
    margin-top: 30px;
    transition: background 0.5;

}

.btn.btn3:hover {
    background:  rgb(0, 255, 0);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.copyright i {
    color:  rgb(0, 255, 0);
    transition: color 0.5s;
}

.copyright i:hover {
    color: #fff;
}

nav .fas {
    display: none;
}
.btn{
    color: white;
    border: 1px solid rgb(255, 140, 0);
}
.btn.btn2 {
    display: inline-block
}

.btn.btn3 {
    background: #080808;
    margin-top: 30px;
    transition: background 0.5;

}

.btn.btn3:hover {
    background:  rgb(255, 140, 0);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.s-container h1{
    color: White;
    text-align: center;
    position: relative;
    top: 5px;
}
.s-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}
.services{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.services .box{
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}
.services .box:hover{
    transform: translateY(-20px);
}
.services .box::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.services .box::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
    filter: blur(30px);
}
.services .box:nth-child(2)::before,
.services .box:nth-child(2)::after{
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.services .box:nth-child(3)::before,
.services .box:nth-child(3)::after{
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.services .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.services .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.services .box .content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}
.services .box .content h2{
    font-size: 2 em;
    color: #fff;
    margin-bottom: 10px;
}
.sevices .box .content p{
    font-size: 1.1 em;
    color: #fff;
    margin-bottom: 10px;
}
.services .box .content p{
    font-size: 1.1 em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4em;
}
.services .box .content a{
    display: inline-block;
    font-size: 1.1 em;
    color: #111;
    background: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
}
.services .box .content i{
    font-size: 40px;
}
















